@font-face {
  font-family: "Space Mono";
  src: url('https://fonts.gstatic.com/s/spacemono/v12/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2');
  font-weight: 700;
}

input, button {
  font-size: 24px;
}

* {
  font-family: "Space Mono";
}